<mat-card >
    <h3>{{sharedService.activePattern.name}}</h3>
    <h4>Notes</h4>
    <p>This wrap is worked in a single piece, cast on at one narrow end
        and worked flat to the other</p>
    <h4>Directions</h4>
    <div>{{sharedService.activePattern.steps}}</div>
</mat-card>

<mat-toolbar fxLayoutAlign="space-evenly center"  class="toolbarNav">
    <div><mat-icon class="material-icons color_blue" >home</mat-icon></div>
    <div><mat-icon class="material-icons color_blue" >palette</mat-icon></div>
    <div><mat-icon class="material-icons color_blue" >settings</mat-icon></div>
  </mat-toolbar>